<%- include('partials/header') %>

    <div class="container">
      <h1 class="courseName"><%= coursename %></h1>
      <h1 class="aboutCourse">About</h1>
      <p class="des"><%= desc %></p>
      <h2 class="purchase">Purchased By:-</h2>
      <ul>
        <% studs.forEach(stud=>{ %>
          <li class="nameList"><%= stud.studname %></li>
        <% }) %>
      </ul>
      <form class="" action="/purchase" method="post">
        <button type="submit" class="purchaseBTN" name="purchase" value="<%= coursename %>">Purchase</button>
      </form>
    </div>



<%- include('partials/footerbl') %>
