<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Name : <%= name %></h3><br>
    <h3>College Name: <%= clgname %></h3><br>
    <h3>Gender: <%= gender %></h3><br>
    <h3>Phone No.: <%= phn %></h3><br>
    <h3>Email: <%= username %></h3><br>
    <a href="/profile"><button type="button" name="button">Edit Profile</button></a>
  </body>
</html>
